{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
<h1>{{ page_title }}</h1>

{% block content %}
<p>Dummy aus basis-Template</p>
{% endblock %}

{% block footer %}
{# z.B für Impressum #}
<p>
    Impressum
</p>
{% endblock %}

</body>
</html>
