{% extends './base.html'%}

{% block content %}

<h1>Create a new Student</h1>

<div>
    <form action="./create_student/" method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>

</div>

{% endblock %}