{% extends './base.html'%}

{% block content %}

<h2>{{ form.mat_number.value }}</h2>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <table class="">
            <thead class="thead-dark"></thead>
            <tr>
                <td>{{ form.first_name.label }}</td>
                <td>{{ form.first_name }}</td>
            </tr>
            <tr>
                <td>{{ form.sur_name.label }}</td>
                <td>{{ form.sur_name }}</td>
            </tr>
            <tr style="display:none;">
                <td>{{ form.mat_number }}</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>


</div>

{% endblock %}