{% extends './base.html'%}

{% block content %}

<table class="table table-stripped">
    <thead class="thead-dark"></thead>
    <tr>
        <th>Modulname</th>
        <th>SWS</th>
        <th>Credits</th>
        <th>Teacher</th>
        <th>Students</th>
    </tr>

    {% for lesson in lessons%}
    <tr>
        <td><a href="./lesson/{{ lesson.name }}">{{ lesson.name }}</a></td>
        <td>{{ lesson.sws }}</td>
        <td>{{ lesson.credits }}</td>
        <td>{{ lesson.teacher }}</td>
        <td>{{ lesson.count }}</td>
    </tr>

    {% endfor %}

</table>


{% endblock %}