{% extends './base.html'%}

{% block content %}

<h2>{{ lesson.name }}</h2>
<br>
<form action="../sign-up/{{ lesson.name }}" method="get">
    <input type="submit" value="Sign up">
</form>
<br>
<div class="pre-spoiler" id="description">
    <input name="button" type="button" value="Beschreibung"
           onClick="if (this.parentNode.getElementsByTagName('div')[0].style.display != 'none') { this.parentNode.getElementsByTagName('div')[0].style.display = 'none';} else { this.parentNode.getElementsByTagName('div')[0].style.display = 'block';}"
    >
    <div class="spoiler" style="display: none;">
        <p>{{ lesson.description }}</p>

    </div>
</div>

<div class="pre-spoiler" id="student_list">
    <input name="button" type="button" value="Studenten"
           onClick="if (this.parentNode.getElementsByTagName('div')[0].style.display != 'none') { this.parentNode.getElementsByTagName('div')[0].style.display = 'none';} else { this.parentNode.getElementsByTagName('div')[0].style.display = 'block';}"
    >
    <div class="spoiler" style="display: none;">
        <table class="table table-stripped">
            <thead class="thead-dark"></thead>
            <tr>
                <th>Matrikelnummer</th>
                <th>Vorname</th>
                <th>Nachname</th>
            </tr>

            {% for student in students %}
            <tr>

                <td>{{ student.mat_number }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.sur_name }}</td>
            </tr>

            {% endfor %}

        </table>
    </div>

    {% endblock %}
