{% extends './base.html'%}

{% block content %}

<h2>{{ lesson }}</h2>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <table class="">
            <thead class="thead-dark"></thead>
            <tr>
                <td>{{ form.mat_number.label }}</td>
                <td>{{ form.mat_number }}</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>


</div>

{% endblock %}