{% extends './base.html'%}

{% block content %}
<br>
<form action="./create_student", method="get">
    <input type="submit" value="Create new Student">
</form>
<table class="table table-stripped">
    <thead class="thead-dark"></thead>
    <tr>
        <th>Matrikelnummer</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Belegungen</th>
    </tr>

    {% for student in students%}
    <tr>
        <td><a href="./student/{{ student.mat_number }}">{{ student.mat_number }}</a></td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.sur_name }}</td>
        <td>{{ student.attendings }}</td>
    </tr>

    {% endfor %}

</table>


{% endblock %}