{% extends './base.html'%}

{% block content %}

<h3>{{ student.mat_number }}</h3>
<br>
<div class="details">
    <p>{{ student.sur_name }}, {{ student.first_name }}</p>
</div>
<div class="actions">
    <form action="../edit/{{ student.mat_number }}" method="get">
        <input type="submit" value="Edit">
    </form>
    <form action="../delete/{{ student.mat_number }}" method="get">
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete">
    </form>
</div>
<br>
<div class="pre-spoiler">
    <input name="button" type="button" value="Belegungen"
           onClick="if (this.parentNode.getElementsByTagName('div')[0].style.display != 'none') { this.parentNode.getElementsByTagName('div')[0].style.display = 'none';} else { this.parentNode.getElementsByTagName('div')[0].style.display = 'block';}"
    >
    <div class="spoiler" style="display: none;">
        <table class="table table-stripped">
            <thead class="thead-dark"></thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
                <th>SWS</th>
                <th>Teacher</th>
            </tr>

            {% for lesson in lessons %}
            <tr>

                <td>{{ lesson.name }}</td>
                <td>{{ lesson.sws }}</td>
                <td>{{ lesson.credits }}</td>
                <td>{{ lesson.teacher }}</td>
            </tr>

            {% endfor %}

        </table>
    </div>

    {% endblock %}